[run]
branch = True
source = .
omit =
    manage.py
    DDHelper/settings.py
    DDHelper/wsgi.py
    DDHelper/asgi.py
    biliapi/admin.py
    biliapi/apps.py
    biliapi/models.py
    biliapi/views.py
    dynamic/testdata/import_test_members.py
    timeline/tests.py
[report]
show_missing = True
skip_covered = True
